.header{
    height: 55px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
}

.menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.logo{
    height: 24px;
}

.middle{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center; 
}

.search-bar{
    flex: 1;
    height: 37px;
    font-size: 16px;
    border-width: 1px;
    padding-left: 10px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgb(0,0,0,0.15);
    width: 0px;
}
.search-bar::placeholder{
    font-family:Arial;
    font-size: 16px;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(237, 237, 237);
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    margin-left: -1;
    margin-right: 10px;
}
.search-icon{
    height:25px;
    margin-top: 4px;
}

.mic-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border:none;
    background-color: rgb(237, 237, 237);
}

.mic-icon{
    height: 20px;
    margin-top: 4px;
}

.right{
    width:200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon{
    height: 24px;
}

.app-icon{
    height: 24px;
}

.bell-icon{
    height: 24px;
}

.user-profile{
    height: 24px;
    border-radius: 20px;
}